@model WorkspaceReportsViewModel
@{
    Layout = null;

    var classNames = "panel panel-default dropdown";

    if (this.Request.Path.IndexOf("Report") > -1)
    {
        classNames += " active";
    }

}

@foreach (var workspace in Model.WorkspaceReports)
{
    <li class="@classNames">
        <a data-toggle="collapse" href="#reports-nav">
            <span class="icon fa fa-bar-chart"></span><span class="title" title="@workspace.WorkspaceId">Report Workspace</span>
        </a>
        <!-- Dropdown level 1, Report count = @workspace.Reports.Count -->
        <div id="reports-nav" class="">
            <div class="panel-body">
                <ul class="nav navbar-nav">
                    @foreach (var report in workspace.Reports)
                {
                        <!-- Report @report.Id  Workspace @workspace.WorkspaceId -->
                        var reportClass = Request.QueryString["reportId"] == report.Id ? "active" : "mo";
                        <li class="@reportClass">
                            @Html.ActionLink(report.Name, "Report", new { reportId = report.Id, workspaceId = workspace.WorkspaceId })
                        </li>
                    }
                </ul>
            </div>
        </div>
    </li>
}